* text=auto
*.cpp text eol=crlf
*.h text eol=crlf
*.xml text eol=crlf
*.xsd text eol=crlf
*.cmake text eol=crlf
CMakeLists.txt text eol=crlf
*.md text eol=crlf
*.txt text eol=crlf
LICENSE text eol=crlf
